# CinePass Payment Service Configuration
PORT=8083
NODE_ENV=development

# Database Configuration (PostgreSQL RDS)
DB_HOST=localhost
DB_PORT=5432
DB_USER=cinepass_admin
DB_PASSWORD=PavanPassword123!
DB_NAME=cinepass

# AWS SQS Configuration
AWS_REGION=ap-south-2
SQS_QUEUE_URL=https://sqs.ap-south-2.amazonaws.com/304960798044/cinepass-dev-booking-queue
SQS_DLQ_URL=https://sqs.ap-south-2.amazonaws.com/304960798044/cinepass-dev-booking-queue-dlq

# Downstream Microservices
BOOKING_SERVICE_URL=http://localhost:8082

CORS_ORIGIN=*
