# CinePass Booking Service Configuration
PORT=8082
NODE_ENV=development

# Database Configuration (PostgreSQL RDS)
DB_HOST=localhost
DB_PORT=5432
DB_USER=cinepass_admin
DB_PASSWORD=PavanPassword123!
DB_NAME=cinepass

# Redis Cache (ElastiCache / Local for Seat Locking)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Seat Hold TTL in seconds (Default: 300 = 5 minutes)
SEAT_LOCK_TTL_SECONDS=300
CORS_ORIGIN=*
